*{
    margin:0;
    padding: 0; box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
header{
    width:100%; height:100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.1)),url(../IndianTourism/bg.jpg);
    background-repeat: no-repeat; 
    background-position: center;
    background-size: 1536px 957px;
    
}
nav{
    width:100%; height: 9vh;
    display: flex;
    background-color: rgba(0, 0, 0, 0.664);
    /* border:2px solid rgb(0, 0, 0); */
    /* align-items: center; */
    /* justify-content: space-around; */
}
nav .logo{
    width:76%; height: 9vh;
    /* border:2px solid red; */
}
nav .logo h1{
    margin-top:17px;
    padding-left: 18px;
    color:rgb(235, 204, 137)
}
nav .menu{
    width:60%; height:9vh;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
nav .menu a{
    width:25%;
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-weight: bold;
    transition: all 0.5s ease;
}
nav .menu a:first-child{
    color:rgb(39, 182, 182); ;
}
nav .menu a:hover{
    color:rgb(39, 182, 182);
}
/* -----------------------main content--------------------- */
    main{
        width:100%; height: 91vh;
        display:flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: white;
    }
    
    section h3{
        font-size: 35px; font-weight: 200; letter-spacing: 3px;
        text-shadow: 1px 1px 9px black;
    }
    section h1{
        margin: 30px 0 20px 0px;
        font-size: 65px;
         text-shadow: 2px 1px 16px black;

    }
    section p{
        font-size: 20px;
        

    }
    section a{
        
        padding: 12px 30px;
        border-radius: 4px;
        outline:none;
        font-size: 13px;
        font-weight: 500;
        text-decoration: none;
        letter-spacing: 1px 0.5s ease;
        transition: all 0.5s ease;
    }
    section .btn1{
       
        position: relative;
        top:25px;
        
        background: white;
        color:rgb(0, 0, 0);
    }
    section .btn1:hover{
        background:rgb(31, 180, 168);
        color:white;
    }
    section .btn2{
        position: relative;
        top:25px;
        
        background:rgb(31, 180, 168);
        color:white;

    }
    section .btn2:hover{
        background: white;
        color:rgb(0, 0, 0);
    }

    .change_content::after{
        content: "";
        animation: changetext 10s infinite linear;
        color: rgb(31, 180, 168);
        
    }
    @keyframes changetext{
        0%{content:"KARNATAKA";}
        25%{content:"MADHYA PRADESH";}
        50%{content:"AGRA";}
        75%{content:"MAHARASHTRA";}
        100%{content:"MY HOME";}
        
    }